nav{
  background-color: black;
}

nav ul{
  margin:0;
  list-style-type: none;
  text-align: center;
  text-color: white;
}

nav ul li{
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 2%;
  text-color: white;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}
nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}


body {
font: 400 15px/1.5 "Roboto", sans-serif;
display: inline-block;
text-align: center;
margin: 0;
padding: 0;
min-width: 100%;

}
textarea {
resize: none;
}

.form-container {
background: white;
text-decoration: none;
text-align: center;
margin-left: auto;
margin-right: auto;


 }
.form-field {
 border: 2px solid #c9b7a2;
 background: white;
 color: black  ;
 padding:8px;
 width:280px;
 }
.form-fieldLong {
border: 2px solid #c9b7a2;
background: white;
color: black;
padding: 8px;
width: 280px;
height: 70px;
}

.form-field:focus {
 background: #fff;
 border-color: #6CBEEC;
 color: black;
 }
.form-fieldLong:focus {
background: #fff;
border-color: #6CBEEC;
color: black;
}
.form-container h2 {
 font-size:18px;
 font-weight:bold;
 text-align:center;
  }
.form-title {
 margin-bottom:10px;
 color: black ;
 }
.submit-container {
 }
.submit-button {
 border: 1px solid white;
 background: black;
 color: white;
 padding: 8.5px 18px;
 font-size: 14px;
 text-decoration: none;
 vertical-align: middle;
 width: 300px;
 }
.submit-button:hover {
  border: 1px solid #447314;
  text-shadow: #31540c 0 1px 0;
  background: #6aa436;
  background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
  color: #fff;
 }
.submit-button:active {
 text-shadow: #31540c 0 1px 0;
 border: 1px solid #447314;
 background: #8dc059;
 background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
 color: #fff;
 }

 table, th, td {
   border-spacing: 10px;
   border-collapse: separate;
   width: 20%;
   padding: 8px;
   background: #e9e9e9;
   }

 tbody {
   border: 1px solid #c9b7a2;
   /* float: left; */
   /* width: 45%; */
   background: #e9e9e9;
 }
