body {
  padding-top: 10px;
  font: 400 18px/1.5 "Roboto", sans-serif;
  background-color: #f4f4f4;
  width: 85%;
  margin: auto;
}

body #formBody {
  font: 400 15px/1.5 "Roboto", sans-serif;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

button {
  outline: none;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 15px;
  height: 2.05em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.button:focus {
  outline: none;
}

.button {
  background: white;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;  
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button strong {
  color: inherit;
}

.button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.button .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}

.button .icon:first-child:last-child {
  margin-left: calc(-0.375em - 1px);
  margin-right: calc(-0.375em - 1px);
}

.button:hover, .button.is-hovered {
  color: #363636;
}

.button:focus, .button.is-focused {
  border-color: #3273dc;
  color: #363636;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button:active, .button.is-active {
  border-color: #4a4a4a;
  color: #363636;
}


.modifyButton {
  background-color: #222;
  border: 3px solid #222;
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 12px;
}
.modifyButton:hover {
  opacity: 0.8;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.modifyButton:active {
  transform: translateY(0px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

/* standard template for forms */
.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
}

.dropdown.is-right .dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown.is-up .dropdown-menu {
  bottom: 100%;
  padding-bottom: 4px;
  padding-top: initial;
  top: auto;
}

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.dropdown-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.dropdown-item {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

a.dropdown-item,
button.dropdown-item {
  cursor: pointer;
  padding-right: 3rem;
  text-align: left;
  white-space: nowrap;
  width: 66.5%;
}

a.dropdown-item:hover,
button.dropdown-item:hover {
  background-color: whitesmoke;
  color: #0a0a0a;
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: #3273dc;
  color: #fff;
}

.dropdown-divider {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}

textarea {
  resize: none;
}

.form-container {
  background: white;
  text-decoration: none;
  text-align: center;
}
.form-field {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background: white;
  color: black;
  padding: 8px;
  width: 450px;
}
.form-fieldLong {
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 8px;
  width: 450px;
  height: 70px;
  resize: none;
}

.form-field:focus {
  background: #fff;
  border-color: #6cbeec;
  border-radius: 10px 10px 10px 10px;
  color: black;
}
.form-fieldLong:focus {
  background: #fff;
  border-color: #6cbeec;
  border-radius: 10px 10px 10px 10px;
  color: black;
}
.form-container h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.form-title {
  margin-bottom: 10px;
  color: black;
}
.submit-container {
}
.submit-button {
  border: 1px solid white;
  background: black;
  color: white;
  padding: 8.5px 18px;
  border-radius: 10px 10px 10px 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 470px;
}
.submit-button:hover {
  border: 1px solid #447314;
  text-shadow: #31540c 0 1px 0;
  background: #6aa436;
  background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
  color: #fff;
}
.submit-button:active {
  text-shadow: #31540c 0 1px 0;
  border: 1px solid #447314;
  background: #8dc059;
  background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
  color: #fff;
}

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #dbdbdb;
}

.progress::-webkit-progress-value {
  background-color: #4a4a4a;
}

.progress::-moz-progress-bar {
  background-color: #4a4a4a;
}

.progress::-ms-fill {
  background-color: #4a4a4a;
  border: none;
}

.progress.is-approaching::-webkit-progress-value {
  background-color: #3273dc;
}

.progress.is-approaching::-moz-progress-bar {
  background-color: #3273dc;
}

.progress.is-approaching::-ms-fill {
  background-color: #3273dc;
}

.progress.is-funded::-webkit-progress-value {
  background-color: #23d160;
}

.progress.is-funded::-moz-progress-bar {
  background-color: #23d160;
}

.progress.is-funded::-ms-fill {
  background-color: #23d160;
}

.progress.is-starting::-webkit-progress-value {
  background-color: #ffdd57;
}

.progress.is-starting::-moz-progress-bar {
  background-color: #ffdd57;
}

.progress.is-starting::-ms-fill {
  background-color: #ffdd57;
}

.progress.is-small {
  height: 0.75rem;
}

.progress.is-medium {
  height: 1.25rem;
}

.progress.is-large {
  height: 1.5rem;
}

.progress.show-value {
  position: relative;
}

.progress.show-value:after {
  content: attr(value) "%";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
}

.progress.show-value.is-small:after {
  font-size: calc(0.75rem / 1.5);
  line-height: 0.75rem;
}

.progress.show-value.is-medium:after {
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.progress.show-value.is-large:after {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}

a {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:hover {
  color: grey;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #222;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #222;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #222;
  background: #222;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*/
/* info (hed, dek, source, credit) */

.rg-container {
  width: 85%;
  margin: auto;
  padding: 1em 0.5em;
  color: #222;
}

.rg-header {
  margin-bottom: 1em;
  text-align: left;
}

.rg-header > * {
  display: block;
}

.rg-hed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
}

.rg-hed .title {
  font-size: 1.8em;
  grid-column: 1 / span 1;
}

.rg-hed .userProfile {
  grid-column: 3 / span 4;
  align-self: end;
  justify-self: end;
  font-size: 1em;
}

.rg-dek {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 1em;
}

.rg-dek .action-bar {
  grid-column: 1 / span 3;
  align-self: start;
}

.rg-dek .user-bar {
  font-size: 0.9em;
  grid-column: 4 / span 3;
  grid-row: 1;
  align-self: start;
  justify-self: end;
}

.rg-dek form {
  display: inline-block;
}

.rg-dek form button#createproject {
  background-color: #222;
  border: 3px solid #222;
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 12px;
  transition: opacity 0.3s;
}

.rg-dek form button#createproject:hover {
  opacity: 0.8;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.rg-dek form button#createproject:active {
  transform: translateY(0px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

/* table */

table.rg-table {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

table.rg-table tr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}

table.rg-table thead {
  border-bottom: 3px solid #ddd;
}

table.rg-table tr {
  border-bottom: 1px solid #ddd;
  color: #222;
}
table.rg-table tr#projectForm {
  border: none;
}

table.rg-table tr.highlight {
  background-color: #dcf1f0 !important;
}

table.rg-table.zebra tr:nth-child(even) {
  background-color: #f6f6f6;
}

table.rg-table th {
  font-weight: bold;
  padding: 0.35em;
  font-size: 0.9em;
}
table.rg-table th#addProject {
  font-weight: bold;
  padding: 0.35em;
  font-size: 1.3em;
}

table.rg-table td {
  padding: 0.35em;
  font-size: 0.9em;
}

table.rg-table td a {
  color: #222;
  text-decoration: none;
}

table.rg-table td a:visited {
  color: #222;
}

table.rg-table td a:hover {
  color: grey;
}

table.rg-table .highlight td {
  font-weight: bold;
}

table.rg-table th.number,
td.number {
  text-align: right;
}

/* media queries */

@media screen and (max-width: 600px) {
  .rg-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .rg-hed {
    display: inline-block;
  }
  .rg-dek {
    display: inline-block;
  }
  table.rg-table {
    width: 100%;
  }
  table.rg-table tr.hide-mobile,
  table.rg-table th.hide-mobile,
  table.rg-table td.hide-mobile {
    display: none;
  }
  table.rg-table thead {
    display: none;
  }
  table.rg-table tbody {
    width: 100%;
  }
  table.rg-table tr,
  table.rg-table th,
  table.rg-table td {
    display: block;
    padding: 0;
  }
  table.rg-table tr {
    border-bottom: none;
    margin: 0 0 1em 0;
    padding: 0.5em;
  }
  table.rg-table tr.highlight {
    background-color: inherit !important;
  }
  table.rg-table.zebra tr:nth-child(even) {
    background-color: transparent;
  }
  table.rg-table.zebra td:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.rg-table tr:nth-child(even) {
    background-color: transparent;
  }
  table.rg-table td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table.rg-table td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.rg-table td:last-child {
    padding-right: 0;
    border-bottom: 2px solid #ccc;
  }
  table.rg-table td:empty {
    display: none;
  }
  table.rg-table .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}
